<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dcard分析</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <!-- jQuery js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- bootstrap js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body style="background-color: #bcbdb7;">
    <div class="container" style="background-color: rgba(255, 255, 255, 0.925);" >
      <div class="row">
        {% include 'navbar.html' %}
        <div class="col-lg-12">
          <h1>實體分析</h1>
        </div>
        <!-- query criteria col-lg-6  card -->
        <div class="col-lg-12 mb-5">
          <div class="card">
            <div class="card-header" style="background-color: #727777;">
              <h3 class="h6 text-uppercase mb-0"><font color="#FFFFFF">
                篩選條件
              </font></h3>
            </div>
            <div class="card-body">
              <!-- NE names -->
              <div class="form-group row">
                <label class="col-sm-3 form-control-label">實體標記名稱</label>
                <div class="col-md-9 select mb-3">
                  <label class="radio-inline"
                    ><input
                      type="radio"
                      value="8"
                      name="nerradio"
                      checked
                    />人名</label
                  >
                  <label class="radio-inline"
                    ></label
                  ><input type="radio" value="9" name="nerradio" />app</label
                  >
                  <label class="radio-inline"
                    ><input type="radio" value="0" name="nerradio" />事件</label
                  >
                  <label class="radio-inline"
                    ><input type="radio" value="7" name="nerradio" />組織</label
                  >
                  <label class="radio-inline"
                    ><input
                      type="radio"
                      value="5"
                      name="nerradio"
                    />地理區</label
                  >
                  <small class="form-text text-muted ml-3">請選擇詞類型 </small>
                </div>
              </div>
              <!--form group-->
              <!-- new category form group-->
              <div class="form-group row">
                <label class="col-sm-3 form-control-label">新聞類別</label>

                <div class="col-md-9 mb-3">
                  <label class="radio-inline"
                    ><input
                      type="radio"
                      value="0"
                      name="cateradio"
                      checked
                    />心情</label
                  >
                  <label class="radio-inline"
                    ><input
                      type="radio"
                      value="1"
                      name="cateradio"
                    />閒聊</label
                  >
                  <label class="radio-inline"
                    ><input
                      type="radio"
                      value="2"
                      name="cateradio"
                    />美食</label
                  >
                  <label class="radio-inline"
                    ><input
                      type="radio"
                      value="3"
                      name="cateradio"
                    />時事</label
                  >
                  <label class="radio-inline"
                    >
                  <small class="form-text text-muted ml-3"
                    >請選擇看板
                  </small>
                </div>
              </div>
              <!-- Select number of words -->
              <div class="form-group row">
                <label class="col-md-3 form-control-label">多少個熱門詞?</label>
                <div class="col-md-9">
                  <input
                    id="topk_keys"
                    name="topk"
                    value="30"
                    class="form-control form-control-success"
                  />
                  <small class="form-text text-muted ml-3">內定值為30 </small>
                </div>
              </div>
              <!-- submit -->
              <div class="form-group row">
                <div class="col-md-9 ml-auto">
                  <button type="button" id="btn_ok" class="btn btn-primary">
                    查詢
                  </button>
                </div>
              </div>
            </div>
            <!--card body -->
          </div>
          <!-- card -->
        </div>
        <!-- column -->
        <!-- draw cloud chart -->
        <div class="col-lg-12 mb-5">
          <div class="card">
            <div class="card-header" style="background-color: #727777;">
              <h3 class="h6 text-uppercase mb-0" ><font color="#FFFFFF">熱門關鍵字雲圖</font></h3>
            </div>
            <div class="card-body">
              <div id="cloud"></div>
            </div>
          </div>
        </div>
        <!-- column -->
        
        
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </body>
</html>

<!-- chartjs js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<!-- cloud chart ====
Here is the cloud chart script.
reference:http://bl.ocks.org/joews/9697914
reference:https://jsfiddle.net/x827g61m/
reference:https://www.d3-graph-gallery.com/wordcloud
src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js">
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="https://cdn.rawgit.com/jasondavies/d3-cloud/v1.2.1/build/d3.layout.cloud.js"></script>

<!-- Here are your js code -->
<script>
    // Show the page with default setting when page is initialized.
    call_ajax();

    //** submit event
    $('#btn_ok').on('click', function () {
        call_ajax();
    }); //event function

    $("input[name='cateradio']").on('change', function () {
        call_ajax();
    }); //event function

    $("input[name='nerradio']").on('change', function () {
        call_ajax();
    }); //event function

    function call_ajax() {
        //var call_ajax = function() {
        // get user's input
        const ner_value = $("input[name='nerradio']:checked").val();
        console.log(ner_value);

        const cate = $("input[name='cateradio']:checked").val();

        var topk = $('#topk_keys').val();
        console.log(topk);

        // send and get data
        $.ajax({
            type: "POST",
            
            url: "/topner/api_get_ner_topword/",
            //url: "http://127.0.0.1:8000/topner/api_get_ner_topword/",
            //url: "http://163.18.23.21:8000/topner/api_get_ner_topword/",
            data: {
                "news_category": cate,
                "topk": topk,
                "ner_value": ner_value,
            },
            success: function (received) {

                // clear previous top words
                $('#topkeys').empty();
                // clear previous cloud chart
                $('#cloud').empty();

                console.log(received.data);
                if (received.data.length == 0) {
                    $('#cloud').append("<h4>No Data!</h4>");
                    $('#topkeys').append("<h4>No Data!</h4>");
                    return
                }

                const data_barchart = received.data.data_barchart;
                //showChart(data_barchart);

                const wf_pairs = received.data.wf_pairs;
                //showTopKeys(wf_pairs);

                topWordToDraw = received.data.data_cloud;
                drawCloud(topWordToDraw, '#cloud');

            } //ajax function
        }); //ajax
    } //call_ajax


    //** cloud chart
    function drawCloud(topWordToDraw, element_id) {

        // You should set a proper box size to show cloud chart
        // 在此設定雲圖在網頁中的適當大小
        const width = 800;
        const height = 800;

        // First define your cloud data, using `text` and `size` properties:
        // Next you need to use the layout script to calculate the placement, rotation and size of each word:
        // Constructs a new cloud layout instance.
        d3.layout.cloud()
            .size([width, height])
            .words(topWordToDraw) //data for cloud chart
            .rotate(function () {
                //return ~~(Math.random() * 2) * 90; //~~1.5 => 1  (same as Math.floor(1.5))
                return 0; // don't rotate
            })
            .font("Impact")
            .fontSize(function (d) {
                return d.size;
            })
            .on("end", draw) //call function draw()
            .start();

        // Finally implement `draw`, which performs the D3 drawing
        function draw(words) {

            const fill = d3.scale.category20();

            // append the svg object to the body of the page
            d3.select(element_id).append("svg") // element_id such as "#cloud"
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + ~~(width / 2) + "," + ~~(height / 2) + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) {
                    return d.size + "px";
                })
                .style("-webkit-touch-callout", "none")
                .style("-webkit-user-select", "none")
                .style("-khtml-user-select", "none")
                .style("-moz-user-select", "none")
                .style("-ms-user-select", "none")
                .style("user-select", "none")
                .style("cursor", "default")
                .style("font-family", "Impact")
                .style("fill", function (d, i) {
                    return fill(i);
                })
                .attr("text-anchor", "middle")
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) {
                    return d.text;
                });
        } //draw
    } //drawCloud()


</script>

